.langEditorDiv {
    display: flex;
    flex-direction: row;
    width: 80.1vw !important;
}

.langEditor {
    min-width: 48.1vw !important;
}

.IOArea {
    min-width: 32vw !important;
    min-height: 93vh !important;
    background-color: #15142c;
    padding-left: 8px;
}

.IOAreadiv {
    min-height: 40vh !important;
    margin-top: 5px;
    background-color: #15142c;
}

.IOarea {
    min-height: 35.7vh !important;
    background-color: #02011e;
    color: rgb(193, 193, 193);
    font-size: 1rem;
    border: 1px solid transparent;
}

.clearBtn {
    height: 35px !important;
    margin: 8px 3px;
    background-color: #a94d37;
    padding: 5px 10px !important;
}